**/*.log
**/*.csv
**/__pycache__
**/*.json
**/*.pyc

/.idea

**/*.Rhistory
**/venv/
**/data
**/*.db
**/*.mypy
**/*.egg-info/

**/fixtures/

**/.vscode/
**/.DS_Store

**/.mypy_cache/
**/*.coverage
**/.pytest_cache/
**/.hypothesis/